<% include header%>
<link rel="stylesheet" href="/css/satya.css" type="text/css">

<div class="container">
    <div class="row">
        <div class="col-sm-4 text-center" style="position: absolute;
                        left: 68%;top: 15%">
            <img src="/images/satya.jpeg" class="rounded-circle" width="250" height="250">
        </div>
    </div>

    <div class="row">
            <article class="row">
                    <section id="past-section" class="col-sm-7">
                        <h1 class="section-header"><b>Present:</b></h1>
                        <p>I am a new graduate student at NWMSU fall 2018 in the stream of Applied Computer Science.</p>
                        <h1 class="section-header">Past :</h1>
                        <p>I have completed my Bachelor's from MGIT affiliated to JNTUH Hyderabad in the stream of Electrical And
                            Electronics Engineering.<br>
                            I have worked with Virtusa India.Pvt.Ltd for 1 year as a Data Analyst.</p>
                    </section>
                    <section class="col-sm-4 offset-sm-1" style="position: absolute;
                    left: 55%;top: 55%">
                        <aside>	
                            <p>
                                <h2 class="text-right">Kolakani Satyakanth</h2>
                            </p>
                            <p>
                                <h4 class="text-right">satyareddy0306@gmail.com</h4>
                            </p>
                        </aside>
                    </section>
                    <section id="future-section" class="col-sm-8">
                        <h1 class="section-header">My Future Goal :</h1>
                        <p>My goal is to become a Full Stack Developer in one of the reputed company.</p>
                    </section>
                    <section id="table-header" class="col-sm-9">
                        <h2 class="section-header col-sm-12 ">Schedule</h2>
                        <table class="col-sm-12">
                            <tr>
                                <th>Subjects</th>
                                <th>Monday</th>
                                <th>Tuesday</th>
                                <th>Wednesday</th>
                                <th>Thursday</th>
                                <th>Friday</th>
                            </tr>
                            <tr>
                                <td>
                                    Object Oriented Programing &emsp;
                                </td>
                                <td>No &emsp;</td>
                                <td>8:00 Am to 9:15 Am &emsp;</td>
                                <td>No &emsp;</td>
                                <td>8:00 Am to 9:15 Am &emsp;</td>
                                <td>No &emsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    Web Apps
                                </td>
                                <td>11:00 Am to 11:50 Am &emsp;</td>
                                <td>No</td>
                                <td>11:00 Am to 11:50 Am&emsp;</td>
                                <td>No</td>
                                <td>11:00 Am to 11:50 Am</td>
                            </tr>
                            <tr>
                                <td>
                                    Data Base
                                </td>
                                <td>8:00 Am to 8:50 Am </td>
                                <td>No</td>
                                <td>8:00 Am to 8:50 Am</td>
                                <td>No</td>
                                <td>8:00 Am to 8:50 Am</td>
                            </tr>
                            <tr>
                                <td>
                                    Network Fundamentals
                                </td>
                                <td>2:00 Pm to 2:50 Pm</td>
                                <td>No</td>
                                <td>2:00 Pm to 2:50 Pm</td>
                                <td>No</td>
                                <td>2:00 Pm to 2:50 Pm</td>
                            </tr>
                            <tr>
                                <td>
                                    Network Lab
                                </td>
                                <td>No</td>
                                <td></td>
                                <td>4:00 Pm to 5:50 Pm</td>
                                <td>No</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>
                                    OOPS Lab
                                </td>
                                <td>No</td>
                                <td>No</td>
                                <td>No</td>
                                <td>3:30 Pm to 5:30 Pm</td>
                                <td>No</td>
                            </tr>
                        </table>
                    </section>
                    <div class="col-sm-4" style="position: absolute;
                    left: 71%;top: 75%">
                            <iframe width="360" height="215" src="https://www.youtube.com/embed/wxQR5kokq68" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </article>
    </div>
    <div class="row" style="position: relative; top: 2rem;">
        
    </div>
</div>

<% include footer %>